.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem;
  min-height: 100vh;
  min-width: 320px;
  max-width: fit-content;
}

.headerWrapper {
  padding-bottom: 2rem;
}
